body {
	font-family: 'Comfortaa', sans-serif;
}

.card-title {
	font: 500 2rem 'Pacifico', cursive;
}

.card-img-overlay .card-title {
	color: rgb(28, 28, 28);
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
	padding: 10px;
	text-align: center;
}
